.root-pane {
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-background-color: whitesmoke;
}

.my-label {
    -fx-font-size: 16px;
    -fx-text-fill: darkslateblue;
}

.my-textfield {
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-background-color: #f0f0f0;
}

.my-button {
    -fx-background-color: teal;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.my-button:hover {
    -fx-background-color: darkcyan;
}

.error-label {
    -fx-text-fill: red;
}

.success-label {
    -fx-text-fill: green;
}